body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url("imgs/Index_bg.jpg");
  animation-name: fadein;
  animation-duration: 2s;
  color: white;
}
.Section1 {
  position: relative;
}
.navbar {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.navbar ul {
  margin-right: 80px;
}
.navbar p {
  margin-top: 0px;
}
.LogoMonsterZ img {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50px;
}
.menu1 {
  cursor: pointer;
  margin-bottom: 0px;
}
.menu2 {
  cursor: pointer;
  margin-bottom: 0px;
}
.menu3 {
  cursor: pointer;
  margin-bottom: 0px;
}
.menu4 {
  cursor: pointer;
  margin-bottom: 0px;
}
.menu5 {
  cursor: pointer;
  margin-bottom: 0px;
}
.menu_sub1 {
  list-style: none;
  display: none;
}
.menu_sub1 li {
  cursor: pointer;
}
.menu_sub2 {
  list-style: none;
  display: none;
}
.menu_sub2 li {
  cursor: pointer;
}
.menu_sub3 {
  list-style: none;
  display: none;
}
.menu_sub3 li {
  cursor: pointer;
}
.menu_sub4 {
  list-style: none;
  display: none;
}
.menu_sub4 li {
  cursor: pointer;
}
.menu_sub5 {
  list-style: none;
  display: none;
}
.menu_sub5 li {
  cursor: pointer;
}
.Main_login {
  position: absolute;
  display: flex;
  left: 1300px;
  text-align: center;
  padding-top: 15px;
}
.Main_login p {
  margin-right: 10px;
  color: white;
  text-decoration: none;
}
.Main_login p a {
  text-decoration: none;
  color: white;
}
.Slide {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin: 0px auto;
}
.Slide img {
  width: 500px;
  height: 500px;
}
.Slide ul {
  display: flex;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 2000px;
  position: absolute;
  height: 500px;
  margin: 0px;
  bottom: 0px;
}
