body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.JoinUs {
  margin: 0px auto;
}
#JoinUs_p {
  letter-spacing: 1px;
  text-align: center;
}
.inputSection {
  text-align: center;
}
.JoinUs_btn_wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}
.JoinUs_btn {
  background-color: black;
  color: white;
  width: 500px;
  height: 50px;
}
