body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #dddddd;
  animation-name: fadein;
  animation-duration: 2s;
}
.MustTypingId {
  display: none;
}
.JoinUs {
  margin: 0px auto;
}
#JoinUs_p {
  letter-spacing: 1px;
  text-align: center;
}
.inputSection {
  text-align: center;
}
.JoinUs_btn_wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}
.JoinUs_btn {
  background-color: black;
  color: white;
  width: 500px;
  height: 50px;
  cursor: pointer;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
