body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #dddddd;
  animation-name: fadein;
  animation-duration: 2s;
}
.Login {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#Login_p {
  letter-spacing: 1px;
}
.Login_backGround {
  width: 500px;
  height: 300px;
  background-color: black;
  border-radius: 20px;
}
.Login_input {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.LoginJoinBtn {
  width: 500px;
  height: 50px;
  background-color: gray;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  border-color: black;
}
.LoginBtn {
  width: 500px;
  height: 50px;
  background-color: gray;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid black;
  color: white;
}
.JoinUsBtn {
  width: 500px;
  height: 50px;
  display: table-cell;
  background-color: gray;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid black;
  color: white;
}
.SearchSection {
  display: flex;
  justify-content: center;
}
.SearchSection p {
  cursor: pointer;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
