body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #dddddd;
}
.SearchPWSection {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.SearchPW_input {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.SearchPW_btn_wrapper {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
}
.SearchPW_btn_wrapper div {
  background-color: black;
  width: 120px;
  height: 30px;
  cursor: pointer;
}
.SearchPW {
  margin-right: 20px;
}
